html body{
	background-color: #283E53;
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

.navbar.navbar-fixed-top{
	background-color: #4D5D6C;
	margin: 0 1.5% 24px 1.5%;
	font-size: 14pt;
	color: #fff;
}

.nav.navbar-nav.navbar-left a{
	color: #fff;
}

.nav.navbar-nav.navbar-left a:hover{
	background-color: #4D5D6C;
	opacity: 1.0;
}

.nav.navbar-nav.navbar-right a{
	color: #fff;
}

.nav.navbar-nav.navbar-right a:hover{
	background-color: #4D5D6C;
	opacity: 1.0;
}

.modal.in{
	display:block;
}

.vertical-alignment-helper{
	display:table;
	height: 100%;
	width: 100%;
	pointer-events:none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events:none;
}

.modal-content{
	width:inherit;
	height:inherit;
	margin: 0 auto;
	pointer-events: all;
}

.modal-header{
	text-align: center; 
	border: none !important;
}

.modal-footer{
	border: none !important;
}

.list{
	float: left;
	margin: 10% 1.5%;
	width: 30%;
}

.list h2{
	text-align:center;
	color: #fff;
}

.list-group-item.clearfix{
	background-color: #283E53;
	border: none !important;
}

.card{
	font-size: 12pt;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	color: #fff;
	word-wrap: break-word;
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header-DONE{
	background-color: #60B757;
	padding: 10px 15px;
}

.card-header-IN-PROGRESS{
	background-color: #F0AB54;
	padding: 10px 15px;
}

.card-header-TODO{
	background-color: #D45650;
	padding: 10px 15px;
}

.card a{
	margin-left: 10px;
	float: right;
	color: #fff;
}

.card-container{
	background-color: #4D5D6C;
	padding: 10px 15px;
}